@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.onHover {
  transition: all 0.3s ease-in-out;
}

.onHoverMedium {
  transition: all 0.5s ease-in-out;
}

.onHoverLong {
  transition: all 1s ease-in-out;
}

/* Fuente */
.onest-regular {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.word {
  animation: spin_4991 8s infinite;
}

@keyframes spin_4991 {
  0%, 10% {
    transform: translateY(0%);
  }

  20%, 30% {
    transform: translateY(-100%);
  }

  40%, 50% {
    transform: translateY(-200%);
  }

  60%, 70% {
    transform: translateY(-300%);
  }

  80%, 90% {
    transform: translateY(-400%);
  }

  100% {
    transform: translateY(0%);
  }
}

.language-selector {
  /* list */
  --list-padding: 0.5em;
  --list-bg: var(--btn-bg);
  --list-border-radius: var(--btn-border-radius);
  --list-btn-border-radius: 0.25em;
  --list-btn-padding: 0.35em 1em;
  --list-btn-gap: 0.4375em;
  --list-btn-font-size: 14px;
}

.language-selector {
  user-select: none;
  position: relative;
}

.language-selector__list {
  margin: 0;
  list-style-type: none;
  border-radius: var(--list-border-radius);
  background-color: var(--list-bg);
  display: flex;
  flex-direction: column;
  gap: var(--list-btn-gap);
}

/* Dropdown visibility */
#language-checkbox:checked ~ .language-selector__list-container {
  display: block;
}

