@import "tailwindcss";

.onHover {
  transition: all 0.3s ease-in-out;
}

.onHoverMedium {
  transition: all 0.5s ease-in-out;
}

.onHoverLong {
  transition: all 1s ease-in-out;
}

/* ====================
   Poppins font
==================== */
@font-face {
  font-family: 'poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.poppins {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
}

/* ====================
   Caslon font
==================== */
@font-face {
  font-family: 'caslon';
  src: url('/fonts/LibreCaslonText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.caslon {
  font-family: 'caslon', serif;
  font-weight: 400;
}

.word {
  animation: spin_4991 8s infinite;
}

@keyframes spin_4991 {
  0%, 10% {
    transform: translateY(0%);
  }

  20%, 30% {
    transform: translateY(-100%);
  }

  40%, 50% {
    transform: translateY(-200%);
  }

  60%, 70% {
    transform: translateY(-300%);
  }

  80%, 90% {
    transform: translateY(-400%);
  }

  100% {
    transform: translateY(0%);
  }
}

.language-selector {
  /* list */
  --list-padding: 0.5em;
  --list-bg: var(--btn-bg);
  --list-border-radius: var(--btn-border-radius);
  --list-btn-border-radius: 0.25em;
  --list-btn-padding: 0.35em 1em;
  --list-btn-gap: 0.4375em;
  --list-btn-font-size: 14px;
}

.language-selector {
  user-select: none;
  position: relative;
}

.language-selector__list {
  margin: 0;
  list-style-type: none;
  border-radius: var(--list-border-radius);
  background-color: var(--list-bg);
  display: flex;
  flex-direction: column;
  gap: var(--list-btn-gap);
}

/* Dropdown visibility */
#language-checkbox:checked ~ .language-selector__list-container {
  display: block;
}
