---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import { Navbar } from "../../components/organism/navbar";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Header from "../../components/components/header.astro";
import TechStack from "../../components/components/tech-stack.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
  className="onest-regular flex flex-col w-full h-fit mx-auto max-w-9xl onHover items-center overflow-x-hidden"
  client:load
>
  <Navbar client:only />
  <main class="mt-[150px] justify-items-center max-w-[1512px] px-10">
    <Header />
  </main>
  <TechStack client:load />
</Layout>
