---
import "../../styles/global.css";
import Layout from '../../layouts/Layout.astro';
import { Navbar } from "../../components/organism/navbar";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Header from "../../components/components/header.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout className="onest-regular flex w-full h-fit mx-auto max-w-9xl onHover justify-center" client:load>
  <Navbar client:only/>
  <main class="mt-[150px] justify-items-center">
    <Header/>
  </main>
</Layout>
