---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Caslon } from "./text/caslon"
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-full h-full flex justify-center p-4">
  <div class="h-12 md:h-16 p-[10px] flex rounded-lg">
    <div class="overflow-hidden relative">
      <!-- Textos con brillo intenso -->
      <Caslon
        text={t("habilities.passionate")}
        size="20|24"
        className="word block h-full px-[6px] text-yellow-300 brightness-125 font-black text-center"
      />
      <Caslon 
        text={t("habilities.creative")}
        size="20|24"
        className="word block h-full px-[6px] text-green-300 brightness-125 font-black text-center"
      />
      <Caslon 
        text={t("habilities.proactive")}
        size="20|24"
        className="word block h-full px-[6px] text-red-300 brightness-125 font-black text-center"
      />
      <Caslon 
        text={t("habilities.cooperative")}
        size="20|24"
        className="word block h-full px-[6px] text-purple-300 brightness-125 font-black text-center"
      />
      <Caslon 
        text={t("habilities.responsible")}
        size="20|24"
        className="word block h-full px-[6px] text-blue-300 brightness-125 font-black text-center"
      />
    </div>
  </div>
</div>