<!-- átomo encargado de mostrar de forma animada las habilidades -->

<div class="w-full h-full flex justify-center p-4">
  <div class="text-6 h-10 p-[10px] flex rounded-lg">
    <div class="overflow-hidden relative">
      <!-- Textos con brillo intenso -->
      <span class="word block h-full px-[6px] text-yellow-300 brightness-125">Apasionado</span>
      <span class="word block h-full px-[6px] text-green-300 brightness-125">Creativo</span>
      <span class="word block h-full px-[6px] text-red-300 brightness-125">Proactivo</span>
      <span class="word block h-full px-[6px] text-purple-300 brightness-125">Cooperativo</span>
      <span class="word block h-full px-[6px] text-blue-300 brightness-125">Responsable</span>
    </div>
  </div>
</div>