<a
  class="rounded-full border-2 border-white flex w-fit justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:bg-white/10 hover:scale-110 transition cursor-pointer"
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
