<a
  class="rounded-full border-2 border-white flex w-fit justify-center items-center gap-x-2 py-1 px-1 bg-white/5 hover:bg-white/10 hover:scale-110 transition cursor-pointer"
  href={Astro.props.href}
  target={Astro.props.newTab ? "_blank" : undefined}
  rel={Astro.props.newTab ? "noopener noreferrer" : undefined}
  download={Astro.props.download ? true : undefined}
>
  <slot />
</a>