---
// Astro
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Web from "../atoms/icons/web.astro";
import SocialPill from "../atoms/social-pill.astro";
import { Caslon } from "../atoms/text/caslon";
import { Matter } from "../atoms/text/matter";
import Image from "astro/components/Image.astro";

// Obtener idioma y traducciones
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex flex-col gap-8 md:gap-16 mb-24 scroll-mt-30 items-center" id="certifications">
  <Caslon
    text={t("certifications.title")}
    size="32|64"
    className="text-white self-center"
  />

  <div>
    <div class="flex justify-between px-4 mb-2">
        <Matter
            text={t("certifications.responsiveCertification.title")}
            size="20|24"
            className="text-white font-semibold! self-center"
        />
        <SocialPill href="https://www.freecodecamp.org/certification/jdrbdev/responsive-web-design">
            <Web className="size-6"/>
        </SocialPill>
    </div>
    <Image
    src={"/images/responsiveCertification.avif"}
    alt={t("certifications.responsiveCertification.alt")}
    width={300}
    height={300}
    class="w-full max-w-[500px]"
    />
  </div>
</div>

<!-- Splide CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
/>

<!-- Splide JS con AutoScroll -->
<script type="module">
  import Splide from "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/+esm";
  import { AutoScroll } from "https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.4.0/+esm";

  document.addEventListener("DOMContentLoaded", () => {
    const splide = new Splide(".splide", {
      type: "loop",
      direction: "ltr",
      drag: "free",
      focus: "center",
      perPage: 1,
      gap: "2rem",
      pagination: false,
      arrows: false,
      autoScroll: {
        speed: 1.5,
        pauseOnHover: true,
        pauseOnFocus: false,
      },
    });

    splide.mount({ AutoScroll });
  });
</script>

<style>
  .splide__slide {
    color: white;
    border-radius: 1rem;
    justify-items: center;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .splide__list {
      gap: 1rem !important;
    }
  }
</style>
