---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { Caslon } from "@atoms/text/caslon";
import { Poppins } from "@atoms/text/poppins";
import Code from "@atoms/icons/code";
import SectionLayout from "@atoms/section-layout.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<SectionLayout className="flex flex-col max-w-[1512px] mb-10">
    <footer>
        <div class="w-full">
            <div class="md:flex md:justify-between gap-10">
                <div class="mb-6 md:mb-0">
                    <a class="flex gap-2" href="/">
                        <Code className="size-5 md:size-6 self-center md:self-start"/>
                        <Poppins
                            text="José David Rodríguez Betancor"
                            size="16|20"
                            className="font-semibold whitespace-nowrap text-white uppercase leading-7!"
                        />
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                    <Poppins
                        text={t("footer.builtWith")}
                        size="16|16"
                        className="mb-2 font-semibold text-white uppercase"
                        tag="h2"
                    />
                    <ul class="text-white font-medium">
                        <li class="mb-2">
                        <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">
                            <Poppins 
                                text="Astro"
                                size="14|16"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                            />
                        </a>
                        </li>
                        <li>
                        <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer">
                            <Poppins
                                text="Tailwind CSS"
                                size="14|16"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                            />
                        </a>
                        </li>
                    </ul>
                    </div>
                    <div>
                    <Poppins
                        text={t("footer.followMe")}
                        size="16|16"
                        className="mb-2 font-semibold text-white uppercase"
                        tag="h2"
                    />
                    <ul class="text-white font-medium">
                        <li class="mb-2">
                        <a
                            href="https://github.com/JDRBdev"
                            target="_blank"
                            rel="noopener noreferrer"
                        
                        >
                            <Poppins
                                text="Github"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                                size="14|16"
                            />
                        </a>
                        </li>
                        <li>
                        <a href="https://www.linkedin.com/in/josé-david-rodríguez-betancor-8019ba369"
                            target="_blank"
                            rel="noopener noreferrer" 
                        >
                            <Poppins
                                text="Linkedin"
                                size="14|16"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                            />
                        </a>
                        </li>
                    </ul>
                    </div>
                    <div>
                    <Poppins
                        text={t("footer.legal")}
                        size="16|16"
                        className="mb-2 font-semibold text-white uppercase"
                        tag="h2"
                    />
                    <ul class="text-white font-medium">
                        <li class="mb-2">
                        <a href="politica-de-privacidad" class="">
                            <Poppins 
                                text={t("footer.privacyPolicy")}
                                size="14|16"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                            />
                        </a>
                        </li>
                        <li>
                        <a href="terminos-condiciones" class="">
                            <Poppins
                                text={t("footer.termsAndConditions")}
                                size="14|16"
                                className="mt-4 w-fit relative after:absolute after:-bottom-1 after:left-0 after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 hover:after:w-full"
                            />
                        </a>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-center">
            <Caslon
                text={
                    `© 2025 <a href='https://github.com/JDRBdev' target='_blank' rel='noopener noreferrer' class='hover:underline'>José David Rodríguez Betancor</a>. ${t("footer.allRightsReserved")}`
                }
                className="text-white sm:text-center"
            />
        </div>
    </footer>
</SectionLayout>