---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { Matter } from "../atoms/text/matter";
import TypewriterText from "../atoms/type-writer-text";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-full flex justify-center gap-4"> 
    <h1 class="md:text-5xl font-extrabold dark:text-white flex items-end">
        <small class="ms-2 font-semibold text-gray-500 dark:text-gray-400 pb-5">
            <Matter
                text={t("header.title")}
                size="24|32"
            />
        </small>
    </h1>
    <TypewriterText className="min-w-[500px] items-end over" client:load />
</div>
