---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { Caslon } from "@atoms/text/caslon";
import AstroIcon from "@atoms/icons/astro-icon.astro";
import Bootstrap from "@atoms/icons/bootstrap.astro";
import Tailwindcss from "@atoms/icons/tailwindcss.astro";
import Html5 from "@atoms/icons/html5.astro";
import Css from "@atoms/icons/css.astro";
import Javascript from "@atoms/icons/javascript.astro";
import Mysql from "@atoms/icons/mysql.astro";
import Php from "@atoms/icons/php.astro";
import Laravel from "@atoms/icons/laravel.astro";
import React from "@atoms/icons/react.astro";
import { Poppins } from "@atoms/text/poppins";
import Image from "astro/components/Image.astro";
import SectionLayout from "@atoms/section-layout.astro";
import SocialPill from "@atoms/social-pill.astro";
import Github from "@atoms/icons/github.astro";
import Typescript from "@atoms/icons/typescript.astro";
import Web from "@atoms/icons/web.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<SectionLayout className="flex flex-col max-w-[1512px] gap-8 md:gap-16 mb-24" id="projects">
  <Caslon
    text={t("projects.title")}
    size="32|64"
    className="text-white self-center"
  />
  <div class="grid gap-8 justify-items-center grid-cols-1 lg:grid-cols-2">
    <div>
      <Poppins
        text={t("projects.gymtinajo.title")}
        size="20|24"
        className="text-white font-semibold! px-4"
      />
      <details class="px-4 pt-2 max-w-[700px]">
        <summary class="cursor-pointer text-white text-base md:text-lg font-semibold">
          {t("projects.gymtinajo.description_summary") ?? "Ver m치s informaci칩n"}
        </summary>
        <Poppins
          text={t("projects.gymtinajo.description")}
          size="16|16"
          className="text-white pt-2"
        />
      </details>
      <Image
        src={"/images/GymTinajo.avif"}
        alt={"Gym Tinajo Project"}
        width={600}
        height={600}
        class={"w-full md:max-w-[700px]"}
      />
      <div class="px-4 justify-between flex gap-2">
        <div class="flex flex-wrap gap-2">
          <Html5 className="size-8 md:size-10"/>
          <Css className="size-8 md:size-10"/>
          <Bootstrap className="size-8 md:size-10"/>
          <Laravel className="size-8 md:size-10"/>
          <Php className="size-8 md:size-10"/>
          <Javascript className="size-8 md:size-10"/>
          <Mysql className="size-8 md:size-10"/>
        </div>
        <div class="flex gap-2 h-9">
          <SocialPill href="https://github.com/JDRBdev/GymTinajo" ariaLabel={t("projects.gymtinajo.githubAriaLabel")}>
            <Github className="size-6"/>
          </SocialPill>
          <SocialPill href="https://gymtinajo.alwaysdata.net/" ariaLabel={t("projects.gymtinajo.liveWebsiteAriaLabel")}>
            <Web className="size-6"/>
          </SocialPill>
        </div>
      </div>
    </div>
    <div>
      <Poppins
        text={t("projects.weatherApp.title")}
        size="20|24"
        className="text-white font-semibold! px-4"
      />
      <details class="px-4 pt-2 max-w-[700px]">
        <summary class="cursor-pointer text-white text-base md:text-lg font-semibold">
          {t("projects.weatherApp.description_summary") ?? "Ver m치s informaci칩n"}
        </summary>
        <Poppins
          text={t("projects.weatherApp.description")}
          size="16|16"
          className="text-white pt-2"
        />
      </details>
      <Image
        src={"/images/weatherApp.avif"}
        alt={"Weather App Project"}
        width={600}
        height={600}
        class={"w-full md:max-w-[700px]"}
      />
      <div class="px-4 justify-between flex gap-2">
        <div class="flex flex-wrap gap-2">
          <Html5 className="size-8 md:size-10"/>
          <Css className="size-8 md:size-10"/>
          <Tailwindcss className="size-8 md:size-10"/>
          <AstroIcon className="size-8 md:size-10"/>
          <React className="size-8 md:size-10"/>
          <Typescript className="size-8 md:size-10"/>
        </div>
        <div class="flex gap-2 h-9">
          <SocialPill href="https://github.com/JDRBdev/WeatherApp" ariaLabel={t("projects.weatherApp.githubAriaLabel")}>
            <Github className="size-6"/>
          </SocialPill>
          <SocialPill href="https://weather-app-wheat-five-18.vercel.app/" ariaLabel={t("projects.weatherApp.liveWebsiteAriaLabel")}>
            <Web className="size-6"/>
          </SocialPill>
        </div>
      </div>
    </div>
  </div>
</SectionLayout>